<section>
  <br>
	<div class="row">
		<div class="col s4">
		</div>
		<div class="col s4">

			<div class="card hoverable">

				<div class="card-content">

          <span class="card-title center">Cadastro</span>
					<div class="divider"></div>
					<br>

          <form class="simple_form new_user" action="/users" method="post">

            <div class="form-inputs row">

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="input-field col s12 email required user_email">
									<i class="material-icons prefix">email</i>
							    <label class="email required" for=""><abbr title="required">*</abbr> E-mail</label>
							    <%= f.email_field :email%>
							  </div>

                <div class="input-field col s12 password required user_password">
									<i class="material-icons prefix">lock</i>
                  <label data-hint="6 Characters Minimum" class="email required" for=""><abbr title="required">*</abbr> Senha</label>
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <div class="input-field col s12 password required user_password">
									<i class="material-icons prefix">lock</i>
                  <label data-hint="6 Characters Minimum" class="email required" for=""><abbr title="required">*</abbr> Confirmar Senha</label>
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="form-actions center">
								  <div class="waves-effect waves-light btn red lighten-3">
								    <%= f.submit "Salvar" %>
								  </div>
								</div>

              <% end %>

              <br><br>
							<div class="divider"></div>
							<br>
							<%= render "devise/shared/links" %>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</section>
