<section>
	<br>
	<div class="row">
		<div class="col s4">
		</div>
		<div class="col s4">

			<div class="card hoverable">

				<div class="card-content">

					<span class="card-title center">Log In</span>
					<div class="divider"></div>
					<br>

					<form class="simple_form new_user" action="/users/sign_in" method="post">

						<div class="form-inputs row">

							<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

							  <div class="input-field col s12 email required user_email">
									<i class="material-icons prefix">email</i>
							    <label class="email required" for="">E-mail</label>
							    <%= f.email_field :email%>
							  </div>

							  <div class="input-field col s12 password required user_password">
									<i class="material-icons prefix">lock</i>
							    <label class="email required" for="">Senha</label>
							    <%= f.password_field :password, autocomplete: "off" %>
							  </div>


							  <% if devise_mapping.rememberable? -%>
							    <div class="col s7 boolean optional user_remember_me">
							      <%= f.check_box :remember_me %>
							      <%= f.label :remember_me %>
							    </div>
							  <% end -%>


								<div class="form-actions center">
								  <div class="waves-effect waves-light btn red lighten-3">
								    <%= f.submit "Log in" %>
								  </div>
								</div>

							<% end %>

							<br><br>
							<div class="divider"></div>
							<br>
							<%= render "devise/shared/links" %>

						</div>

					</form>

				</div>

			</div>

		</div>

	</div>

</section>
