<h1>Editar Jóia</h1>

<%= simple_form_for @jewel, :html => { :multipart => true } do |f| %>
 <%= f.select :category_id, @categories %>
 <%= f.file_field :jewel_img %>
 <%= f.input :title, label: "Nome da Jóia" %>
 <%= f.input :description, label: "Descrição" %>
 <%= f.button :submit, "Salvar" %>
<% end %>

</br>
<%= link_to "Voltar", root_path %>
