<!DOCTYPE html>
<html>
  <head>
    <title>EduJoias</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

      <header class="navbar-fixed">

        <div id="navbar" class="navbar-fixed scrollspy">
          <nav class="red lighten-2">
            <div class="nav-wrapper container">

              <div class="navbar-fixed scrollspy red lighten-2">
                <a href="<%= root_path %>" class="brand-logo"> Edu Jóias </a>

                <ul class="right hide-on-med-and-down">

                  <!-- Dropdown Trigger -->
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categorias<i class="material-icons right">arrow_drop_down</i></a></li>
                  <!-- Dropdown Structure -->
                  <ul id="dropdown1" class="dropdown-content">
                   <% Category.all.each do |category| %>
                     <li class="<%= 'active' if params[:category] == category.name %>">
                       <%= link_to category.name, jewels_path(category: category.name), class: "link" %>
                     </li>
                   <% end %>
                  </ul>

                  <% if user_signed_in? %>
                      <% @user = User.find(current_user.id) %>

                      <% if @user.user_admin? %>
            				   	<li><%= link_to "Add Jóias", new_jewel_path %></li>
                      <% end %>

                      <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><%= current_user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
                      <ul id="dropdown2" class="dropdown-content">
                        <li><a href="<%= edit_user_registration_path %>">Perfil</a></li>
                        <li class="divider"></li>
                        <li><%= link_to "Sair", destroy_user_session_path, method: "delete" %></li>
                      </ul>

                  <% else %>
                    <li><%= link_to "Cadastre-se", new_user_registration_path %></li>
          					<li><%= link_to "Log In", new_user_session_path %></li>
          				<% end %>
              </ul>

              </div>
            </div>
          </nav>
        </div>


      </header>

      <%= yield %>

      <!-- footer-->
      <footer class="page-footer red lighten-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Edu Jóias</h5>
              <ul>
                <p><li><i class="tiny material-icons">phone</i> +44 20 7434 2500</li><p>
                <p><li><i class="tiny material-icons">home</i> 65 BB Kingstern Road, Avenue 15th, Randall District</li></p>
              </ul>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">e-mail</h5>
              <ul>
                <li><a class="grey-text text-lighten-2" href="#!">contact@edujoias.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2017 Copyright Malsay
          </div>
        </div>
      </footer>


      <!-- js-->
      <script>
        $(document).ready(function(){
          $('.parallax').parallax();
        });
      </script>

  </body>
</html>
