<!DOCTYPE html>
<html>
  <head>
    <title>EduJoias</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

    <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <% Category.all.each do |category| %>
					<li class="<%= 'active' if params[:category] == category.name %>">
						<%= link_to category.name, jewels_path(category: category.name), class: "link" %>
					</li>
				<% end %>
      </ul>
      <div id="navbar" class="navbar-fixed scrollspy">

        <nav>
          <div class="navbar-fixed scrollspy red lighten-3">
            <a href="#" class="brand-logo">Edu Jóias </a>
            <ul class="right hide-on-med-and-down">
              <li><%= link_to "Cadastre-se", new_user_registration_path %></li>
        				<% if user_signed_in? %>
        					<li><%= link_to "Log Off", destroy_user_session_path, method: :delete %></li>
        			<% else %>
        					<li><%= link_to "Log In", new_user_session_path %></li>
      				<% end %>
              <% if user_signed_in? %>
                  <% @user = User.find(current_user.id) %>
                      <% if @user.user_admin? %>
        				    	<li><%= link_to "Add Jóias", new_jewel_path %></li>
                  <% end %>
      				<% end %>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categorias<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>

			</ul>

		</div>

        </nav>
      </div>

      <%= yield %>

      <!-- footer-->
      <footer class="page-footer red lighten-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Conteudo</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2017 Copyright Malsay
          </div>
        </div>
      </footer>


      <!-- js-->
      <script>
        $(document).ready(function(){
          $('.parallax').parallax();
        });
      </script>

  </body>
</html>
